<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Movie app</title>

</head>

<body>



    <form method="post" action="/result">
        <div class="search-data">
            <input type="text" name="title" required>
            <div class="line"></div>
            <label>Type A Movie Title..</label>
            <button type="submit">
                <span class="fas fa-search"></span>
            </button>
        </div>
    </form>


</body>
</html>