<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>asdas</title>

</head>

<body>



<div class="wrapper">
    <div class="search-btn">
        <span class="fas fa-search"></span>
    </div>
    <form method="post" action="/result">
        <div class="search-data">
            <input type="text" name="expression" required>
            <div class="line"></div>
            <label>Type A Movie Title..</label>
            <button type="submit">
                <span class="fas fa-search"></span>
            </button>
        </div>
    </form>
</div>


</body>
</html>